{lib_dirs, ["deps/eqc/ebin"]}.
{erl_opts, [{i, ".."},{i,"deps"},{i,"../proper/include"},{i,"deps/proper/include"}]}.
{port_sources,["c_src/*.cc"]}.
{port_envs,
 [{"DRV_LDFLAGS","deps/v8/libv8.a deps/zeromq2/src/.libs/libzmq.a -shared $ERL_LDFLAGS -lstdc++ -luuid"},
  {"darwin", "DRV_LDFLAGS", "deps/v8/libv8.a deps/zeromq2/src/.libs/libzmq.a -bundle -flat_namespace -undefined suppress $ERL_LDFLAGS"},
  {"DRV_CFLAGS","-Ic_lib/utf8/source -Ic_lib/utf8/source/utf8 -Ic_src -Ideps/v8/include -Ideps/zeromq2/include -g -Wall -fPIC $ERL_CFLAGS $EXTRA_CFLAGS"}]}.
{deps,
 [
  {proper, ".*", {git, "https://github.com/manopapad/proper.git", {branch, "master"}}},
  {proper_stdlib, ".*", {git, "https://github.com/spawngrid/proper_stdlib.git", {branch, "master"}}}
 ]}.
