{lib_dirs, ["deps/eqc/ebin"]}.
{erl_opts, [{i, ".."},{i,"deps"}]}.
{port_sources,["c_src/*.cc"]}.
{port_envs,
 [{"DRV_LDFLAGS","deps/v8/libv8.a -shared $ERL_LDFLAGS -lstdc++"},
  {"darwin", "DRV_LDFLAGS", "deps/v8/libv8.a -bundle -flat_namespace -undefined suppress $ERL_LDFLAGS"},
  {"DRV_CFLAGS","-Ic_src -Ideps/v8/include -g -Wall -fPIC $ERL_CFLAGS"}]}.